ul.todo-list {
    width: 100%;
    float: left;
}



ul.todo-list li {
    width: 80%;
    min-height: 30px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: black;
    line-height: 22px;

    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 0 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
}

ul.todo-list li:last-of-type {
    margin: 0;
}

ul.todo-list li .buttons {
    /*width: 100px;*/
    height: 50px;

    position: absolute;
    top: 0;
    right: 0;
}

ul.todo-list li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

ul.todo-list li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    background: #edf0f1;

    position: absolute;
    top: 10px;
    left: 0;
}

ul.todo-list li .buttons button svg {
    width: 22px;
    height: 22px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -11px 0 0 -11px;
}

ul.todo-list li .buttons button.remove svg .fill {
    background-color: red;
    color: #c0cecb;
}

ul.todo-list li .buttons button.remove:hover svg .fill {
    color: #e85656;
}

.checkbox {
    background-color: red;
}
